@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
body {
    background: #FFECD7;
}
main {
    background-color: #008DB1;
    padding: 1.5em;
    border: 4px solid #004E63;
    max-width: 400px;
    display: grid;
    justify-items: center;
    justify-self: center;
    border-radius: 25px;
}
h1{ color: #fffffe;
    font-family: Helvetica, sans-serif;

}
h2 a { color: #91e4fb;
    font-family: Helvetica, sans-serif;
    text-decoration: none;

}
img {
    background-color:  #fffffe;
    padding: 0.25em;

}

ul { color: #fffffe;
    font-family: Helvetica, sans-serif;

}
blockquote{
    color: #ffd783;
    font-family: "Nanum Brush Script"
}