/* Add your CSS here to style your valentines day page */
body {
    background-color: palevioletred;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
nav{
    background-color: red;
    color: white;
}
main{
    background-color: rgb(210, 78, 122)
}
h1 {
    color: rgb(142, 0, 0);
    background-color: rgb(210, 78, 122);
}
section{
    max-width: 1000px;
    text-align: center;
    background-color: rgb(142, 0, 0);
    margin: 1em;
}


footer{
    background-color: rgb(210, 78, 122);
}