
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    border:3px soilid #2a2616;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: grey;
}
nav a{

color: white;
text-decoration: none;
padding: 2em;
}
img{max-width: 100%;
    height: auto;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
section#blue {
    background-color: aqua;
    grid-column: 3/4;
    grid-row: 1/2;
}
section#red{
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
}
section#green{
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/2;
}
section#about {
    grid-column: 1/4;
    border: 3px solid black;
}